body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
}

 /* Navbar container */
 .navbar {
   overflow: hidden;
   background-color: #333;
   font-family: Arial;
 }

 /* Links inside the navbar */
 .navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   overflow: auto;
 }

 /* The dropdown container */
 .dropdown {
   float: left;
   overflow: hidden;
 }

 /* Dropdown button */
 .dropdown .dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit; /* Important for vertical align on mobile phones */
   margin: 0; /* Important for vertical align on mobile phones */
 }

 /* Add a red background color to navbar links on hover */
 .navbar a:hover, .dropdown:hover .dropbtn {
   background-color: red;
 }

 /* Dropdown content (hidden by default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }

 /* Add a grey background color to dropdown links on hover */
 .dropdown-content a:hover {
   background-color: #ddd;
 }

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
   display: block;
 }

div.homepage {

  width:70%;
  margin:0 auto;
  max-width:750px;
min-width: 300px 
}


img {

  width: 30%;
  float:right;
  margin-left: 20px;
}

h1 {

  font-size: 3em;
}


body {
  font-size: 1em;
  font-family:georgia, serif;
  margin: 40px 12px;
}


section.play, section.dramatis {
  width:90%;
  margin: 12px auto;
  max-width: 700px;
  border:1px solid blue;
  text-align: center;
}


div.everything {
  margin: 10px auto;
  width:auto;
  padding:20px;
  background-color: white;
  text-align: center;
}



div.sceneImage {

}


h1.act {
font-size: 4em;
font-family: verdana, sans-serif;
text-align: center;
background-color: #B30300;
color: white ;
padding: 12px 0;
overflow: auto;
}


p.character {
font-size: 2.5em;
overflow: auto;
color: black;
margin-bottom: 1px;
}

p.charactername {
font-size: 1.5em;
margin:0 12px 0 40px;
overflow: auto;
}

h1.dramatishead {
  font-size: 5em;
text-align: center;
overflow: auto;
}


h2.firstscene {
  font-size: 3em;
  font-family: verdana, sans-serif;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 4px 0;
  overflow: auto;
text-align: center;
overflow: auto;
}


h2.scene {
  font-size: 2em;
  font-family: verdana, sans-serif;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 4px 0;
  overflow: auto;
text-align: center;
overflow: auto;
}




h2.location {
font-size: 2em;
text-align: center;
overflow: auto;
}


p.play_location {
font-size: 2em;
text-align: center;
overflow: auto;
}



p.song {
font-size: 3.5em;
text-align: center;
overflow: auto;
}


h2.stagedirection {
font-size: 2em;
font-style: italic;
font-weight: 400;
text-align: center;
overflow: auto;
width:90%;
margin: 12px auto;
max-width: 700px;
}


p.verseline {
 font-size: 2em;
 overflow: auto;
 color: #04B335;
 margin-top: 1px;
 margin-bottom: 1.5px;
 margin-left: 30px;
}

p.prose {
font-size:2em;
color: #04B335;
margin-top: 2px;
margin-bottom: 1px;
margin-left: 30px;
}


span.character_role {
  font-size:1em;
  text-align: center;
overflow: auto;
color: red;
}


span.stage_directions_inline {
  text-align: center;
  overflow: auto;
}

div.play, div.dramatis {
  width:60%;
  margin-left: auto;
  margin-right: auto;
}
